.productsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.filtersWrapper {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-content: center;
  margin: 2rem auto;
}

.title {
  margin: 0 1rem;
  color: var(--color-primary-dark);
  justify-self: end;
}

.products {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 1rem;
  margin: 1rem;
}

.product {
  display: grid;
  justify-items: center;
  border-radius: 7px;
  box-shadow: var(--shadow-light);
  color: var(--color-primary-dark);
  position: relative;
}

.wrapper {
  display: grid;
  place-items: center;
  margin: 1.5rem;
}

.heart {
  width: 15px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.heart > * {
  fill: transparent;
}

.liked.heart > * {
  fill: var(--color-detail);
}

.product h4 {
  font-size: var(--font-size-text);
}

.product p {
  font-size: var(--font-size-title);
  line-height: calc(var(--font-size-title) * 2);
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
