.categoriesTitle {
  font-size: var(--font-size-title);
  margin: 1rem;
  margin-top: 3rem;
  color: var(--color-dark);
}

.categories {
  display: flex;
  overflow-y: scroll;
  margin-top: 0.5rem;
}

.categories li {
  margin: 0.5rem;
  text-align: center;
}

.categoriesItem > div {
  display: grid;
  place-items: center;
  width: 6rem;
  height: 6rem;
  box-shadow: var(--shadow-light);
  border-radius: 7px;
}

.categoriesItem > span {
  display: inline-block;
  font-size: var(--font-size-detail);
  line-height: var(--line-height-detail);
  color: var(--color-dark);
  margin-top: 0.5rem;
}
