.box {
  display: grid;
  place-items: center;
  background: var(--color-primary);
  box-shadow: var(--shadow-light);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.filters {
  border-radius: 7px;
  padding: 0 1rem;
  margin: 0.3125rem 0;
  background: var(--color-secondary-soft);
  width: 100%;
  z-index: 1;
}

.filters li {
  margin: 1rem 0;
}

.expanded.box {
  transform: rotate(180deg);
}
