.form {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 0.5rem;
  margin: 1rem;
}

.form input {
  display: block;
  padding: 0.75rem;
  box-shadow: var(--shadow-light);
  border-radius: 7px;
}

.form input:focus{
  outline-color: var(--color-secondary-soft)
}

.form button {
  display: grid;
  place-items: center;
  background: var(--color-primary);
  border-radius: 7px;
  box-shadow: var(--shadow-light);
  padding: 0;
}


@media (min-width: 767px){
  .form {
    grid-template-columns: 1fr 30vw 50px 1fr;
    margin-top: 2rem;
  }

  .form input {
    grid-column: 2;
  }
  .form button {
    grid-column: 3;
  }
}