a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1rem;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}
