@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

:root {
  --color-background: #fff;
  --color-primary: #707070;
  --color-secondary: #f2e6e6;
  --color-dark: #222;
  --color-light: #fff;

  --font-size-page: 1.5rem;
  --font-size-title: 1.125rem;
  --font-size-text: 1rem;
  --font-size-detail: 0.75rem;

  --line-height-title: 1.5rem;
  --line-height-text: 1.5rem;
  --line-height-detail: 1.125rem;

  --shadow-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-family: 'Rubik', sans-serif;
  padding-top: 1rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}
